<app-header></app-header>
<section class="organizers-section">
  <h2 class="section-title">Meet Our Organizers</h2>
  <p class="section-description">These are the awesome organizations behind our charity activities</p>
  
  <!-- Slider Container -->
  <div class="organizers-slider">
    <!-- Navigation Arrows -->
    <button class="prev" (click)="moveSlide(-1)">&#10094;</button>
    
    <!-- Organizers Container -->
    <div class="organizers-container">
      <div class="organizer-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Логотип_Национальной_волонтерской_сети_на_казахском.png/640px-Логотип_Национальной_волонтерской_сети_на_казахском.png" alt="Organizer 1" class="organizer-img" />
        <div class="organizer-info">
          <h3>National Volunteer Network of Kazakhstan</h3>
          <p>The National Volunteer Network forms, supports and develops a culture of volunteerism, volunteer initiatives and volunteer activities among citizens, civil society institutions, the business sector and government agencies in Kazakhstan.</p>
        </div>
        
        <!-- Social Media Icons -->
        <div class="social-icons">
          <a href="https://www.instagram.com/kz_nvs/?hl=ru" target="_blank" class="insta-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://t.me/qazvolunteer" target="_blank" class="whatsapp-icon">
            <i class="fab fa-whatsapp"></i> 
          </a>
        </div>
      </div>

      <div class="organizer-card">
        <img src="https://sun1-13.userapi.com/s/v1/ig2/q9THxOir4mOFa6lkQLoj1tx2KmKFih228NHILN05vgjYaMXOHfaFJM22mC_-CEg5rH9YgkjUGn06YDzq-tSvm-HT.jpg?quality=95&crop=68,34,377,377&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360&ava=1&cs=240x240" alt="Organizer 2" class="organizer-img" />
        <div class="organizer-info">
          <h3>Best For Kids Public Foundation</h3>
          <p>A non-profit charitable organization that helps children and children in orphanages with social adaptation. You can support the project financially or by applying for a volunteer position on the foundation's website. By helping the project, you make a significant contribution to the development and future of children from orphanages.</p>
        </div>
        
        <!-- Social Media Icons -->
        <div class="social-icons">
          <a href="https://www.instagram.com/bestforkids/" target="_blank" class="insta-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://wa.me/yourphonenumber" target="_blank" class="whatsapp-icon">
            <i class="fab fa-whatsapp"></i> 
          </a>
        </div>
      </div>

      <div class="organizer-card">
        <img src="https://turochak-altai.ru/upload/medialibrary/4a7/4a7e375d510a67c5fc73ef41ff2d3995.png" alt="Organizer 3" class="organizer-img" />
        <div class="organizer-info">
          <h3>The Mentors Project</h3>
          <p>The Mentors project of the Dara Charitable Foundation helps teenagers from orphanages to socialize through friendship with a mentor. The main task of the mentor is to become a friend who will share his experience and knowledge with the child from the orphanage for two years, as well as support and give advice. You can help the project by becoming a mentor to one of the children, having previously applied for participation in the project.</p>
        </div>
        
        <!-- Social Media Icons -->
        <div class="social-icons">
          <a href="https://turochak-altai.ru/" target="_blank" class="insta-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://t.me/turochak_official" target="_blank" class="whatsapp-icon">
            <i class="fab fa-whatsapp"></i> 
          </a>
        </div>
      </div>

      <div class="organizer-card">
        <img src="https://yt3.ggpht.com/ytc/AAUvwnjVB4bbxabioDhpeH5Cl-eoKPLWufIUQWdakdo0vg=s900-c-k-c0x00ffffff-no-rj" alt="Organizer 4" class="organizer-img" />
        <div class="organizer-info">
          <h3>Public movement "Demeu"</h3>
          <p>Public movement to help the elderly, orphaned children, and single mothers with special children. Demeu volunteers also provide food assistance to mothers with many children without a head of family. You can support a social movement financially.</p>
        </div>
        
        <!-- Social Media Icons -->
        <div class="social-icons">
          <a href="https://www.instagram.com/demeu.kz/?hl=en" target="_blank" class="insta-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://l.instagram.com/?u=https%3A%2F%2Ftaplink.cc%2Fdemeu.kz&e=AT153d7LoKccaSFMQs1306Yd7kyNA2iUwG90EZ4urxkC-vLATyqWOYwJiSU7N1NqTKx7WmXqSBAIg33G820bMfsJpmazKSPM" target="_blank" class="whatsapp-icon">
            <i class="fab fa-whatsapp"></i> 
          </a>
        </div>
      </div>
      
      <div class="organizer-card">
        <img src="https://social.saratov.gov.ru/upload/iblock/b2d/kdvra5jn9l6vy8vhib7dc4gb8fovul23/0V7adF3jvL4.jpg" alt="Organizer 4" class="organizer-img" />
        <div class="organizer-info">
          <h3>Istoki Dobra Charitable Foundation"</h3>
          <p>Non-profit charitable foundation for helping the elderly, people with disabilities, and low-income families. The Foundation provides assistance in the form of food, hot meals, medicines, and warm clothing. You can support a charitable foundation financially.
          </p>
        </div>
        
        <!-- Social Media Icons -->
        <div class="social-icons">
          <a href="istok.d2018@mail.ru" target="_blank" class="insta-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://istokidobra.ru/" target="_blank" class="whatsapp-icon">
            <i class="fab fa-whatsapp"></i> 
          </a>
        </div>
      </div>
      <div class="organizer-card">
        <img src="https://yt3.googleusercontent.com/ytc/AIdro_m0CskTm7dVs_WUEJEZY2lKSeTPUzM1E5WRqyCenfN9=s900-c-k-c0x00ffffff-no-rj" alt="Organizer 4" class="organizer-img" />
        <div class="organizer-info">
          <h3>Public Foundation "Dar"</h3>
          <p>A charitable public foundation that aims to help orphaned children, children with disabilities, and children in need of treatment. You can support the foundation financially, as well as with services, items, advice, and suggestions.
          </p>
        </div>
        
        <!-- Social Media Icons -->
        <div class="social-icons">
          <a href="https://www.instagram.com/of_dar/" target="_blank" class="insta-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://api.whatsapp.com/send/?phone=77710466696&text=Здравствуйте%21%0A%0AПишу+из+приложения+2ГИС.%0A%0A&type=phone_number&app_absent=0" target="_blank" class="whatsapp-icon">
            <i class="fab fa-whatsapp"></i> 
          </a>
        </div>
      </div>

    </div>

    <!-- Navigation Arrows -->
    <button class="next" (click)="moveSlide(1)">&#10095;</button>
  </div>
</section>
