<header>
  <div class="header-container">
    <div class="logo">
      <h1>HandyVol</h1>
    </div>

    <nav class="nav-center">
      <a href="#events-section">Events</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </nav>

    <div class="auth-profile">
      <div class="auth-buttons">
        <button class="btn-login" (click)="openLogin()">Login</button>
        <button class="btn-signup" (click)="openRegister()">Sign Up</button>
      </div>
      <div class="profile">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>
</header>

<div class="modal" *ngIf="showLoginModal || showRegisterModal">
  <div class="modal-content">
    <button class="close" (click)="closeModals()">×</button>
    <ng-container *ngIf="showLoginModal">
      <app-login></app-login>
    </ng-container>
    <ng-container *ngIf="showRegisterModal">
      <app-register></app-register>
    </ng-container>
  </div>
</div>
