.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #dee7f3, #eaedf3);
  padding: 50px;
}

.register-card {
  max-width: 450px;
  width: 100%;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d3d3d3; /* Добавлен светло-серый бордер */
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: #0056b3;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
  width: 100%;
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: #0056b3;
}

input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid #d3d3d3; /* Светло-серая граница */
  box-sizing: border-box;
  background: #f0f8ff;
}

input:focus {
  border-color: #0056b3;
  background: #f5f9ff;
  outline: none;
}

.btn-primary {
  width: 100% !important;
  padding: 1rem !important;
  font-size: 1.2rem !important; 
  font-weight: 600 !important;
  background: linear-gradient(135deg, #007bff, #0056b3) !important;
  border: none !important;
  border-radius: 8px !important;
  color: white !important;
  cursor: pointer !important;
  transition: background 0.3s, transform 0.2s !important;
}

.btn-primary:hover {
  background: #0046a0 !important;
  transform: scale(1.08) !important;
}



.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #333;
  transform: none !important; 
}

